html {
  height: 100%;
}

body {
  font-family: 'Libre Franklin', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* main {
  max-width: 30rem;
} */

h1 {
  margin-bottom: 16px;
}

.logo {
  margin-bottom: 18px;
}

.dashboard {
  margin: 48px 0;
}

.dashboard img {
  width: 36rem;
}

.copy p {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0.3rem;
  background: white;
}

li a {
  display: table-cell;
  color: hsl(223, 87%, 63%);
  border: 1px solid lightgrey;
  border-radius: 50%;
  vertical-align: middle; 
  text-align: center;
  /* text-decoration: none; */
  
  height: 25px;
  width: 25px;
}

.copyright {
  color: lightgrey;
  font-size: 12px;
  text-align: center;
}

.attribution { 
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.notify input {
  border-radius: 24px;
  padding: 12px;
  width: 18rem;
  border: 1px solid hsl(223, 100%, 88%);
  /* color: hsl(223, 100%, 88%); */
}

.notify {
  padding-bottom: 24px;
}

.notify button {
  padding: 12px;
  border-radius: 24px;
  width: 9rem;
  background-color: hsl(223, 87%, 63%);
  border: 0;
  color: white;
}
